@use "../globals" as *;
//@use "../globals/index" as *;
@use "../parts/common" as *;

#global-container {
    font-weight: 600;
}

#container {
    position: relative;
    z-index: 10;
    background: $cWhite;
    transition: transform 0.5s, box-shadow 0.5s;
    // height: 100vh;
    color: $cSubTitle;
}
  
#main-content {
    position: relative;
    z-index: 0;
}
  

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 94px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #25202029;
    z-index: 100;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        max-width: 1024px;
        margin: 0 auto;
        // padding:0px 11px;
        height: 100%;
    }

    &__logo {
        display: flex;
        align-items: center;
        padding-left: 18px;
        cursor: pointer;

        &__img {
            width: 43px;
            height: 43px;
            margin-right: 23px;    

            @include mq(lg) {
                width: 47px;
                height: 47px;
                margin-right: 16px;    
            }

            &:hover {
                opacity: 0.7;
            }
        }

        &__title {
            @media screen and (max-width:350px) {
                font-size: 18px;
            }

            font-size: 21px;
            cursor: pointer;

            @include mq(lg) {
                font-size: 24px;
            }

            &:hover {
                opacity: 0.7;
            }
        }
    }

    &__nav {
        display: none;

        @include mq(md) {
            display: block;
        }
    }

    &__lists {
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0;

        &__item {
            padding:3px 0 0 0;
            margin-right: 30px;
    
            @include mq(lg) {
                margin-right: 46px;
            }
    
            & > a {
                @extend .sub-title;
                font-size: 16px;

                &:hover {
                    opacity: 0.7;
                }
            }
        }    
    }


    &__btn {
        display: none;
        
        @include mq(md) {
            display: block;
            padding: 3px 16px 0 0;
        }
        @include mq(lg) {
            padding: 3px 2px 0 0;
        }
    }

}

.contact_btn {
    background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    width: 155px;
    height: 37px;
    line-height: 37px;
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: $cWhite;
    font-size: 14px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    &:hover::after {
        background-color: rgba(255,255,255,0.4);
    }
}

.mobile-menu {
    
    &__title{
        text-align: center;
        padding-bottom: 12px;

        &__btn {
            padding-top: 25px;
        }
    }

    &__contact-btn {
        padding-top: 27px;

        &__inner {
            margin: 0 auto;
        }
    }
}


.hero {
    padding-top: 170px;
    position: relative;
    background-image: url(../images/circle1.png);
    background-position: top -30px right -90px;
    background-size: 97%;
    background-repeat: no-repeat;

    @include mq(md) {
        padding-top: 251px;
        background-size: 81%;
    }

    @include mq(lg) {
        background-size: 57%;
    }

    @include mq(xxl) {
        background-position: top -130px right 0px;
        background-size: 48%;
    }

    &__inner {
        text-align: left;
        padding-left:31px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        @extend .content-width;


        @include mq(md) {
            flex-direction: row;
        }   
    }

    &__title {
        text-align: center;

        @include mq(md) {
            font-size: 32px;
            margin-bottom: 38px;
            letter-spacing: 0px;
            color: $cSubTitle;
            padding-top: 4px;    
        }
    }

    &__description {
        text-align: center;
        margin-top: 28px;

        @include mq(md) {
            font-size: 16px;
            margin-bottom: 40px;
            letter-spacing: 0px;
            color: $cSubTitle;
        }
    }

    &__btn a {
        margin: 0 auto;
        margin-top: 30px;
    }

    &__image {
            margin: 30px auto 0;
            width: 50%;
            height: auto;
        
        @include mq(lg) {
            width: auto;
        }
    }  
}

.features {
    padding-top: 163px;

    @include mq(md) {
        margin-top: 0px;
        padding-top: 232px;
    }
    
    &__inner {
        max-width: 1109px;
        margin: 0 auto;
        padding-left: 13px;
        width: 90%;
    }

    &__title {
        font-size: 32px;
        padding-bottom: 10px;
        text-align: center;

        span {
            display: block;
            font-size: 16px;
            color: #3BA6C9;
            padding-top: 8px;
            padding-right: 9px;
        }
    }

    &__sub-title {
        margin-top: 49px;
        font-size: 28px;
        text-align: center;
    }


    &__box {
        margin-top: 43px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mq(md) {
            flex-direction: row;
            justify-content: space-between;    
        }

        &__texts {
            width: 100%;
            text-align: center;
            margin-top: 30px;

            @include mq(md) {
                margin-top: 33px;
                width: 48%;
            }

            @include mq(lg) {
                margin-top: 48px;
            }
        }

        &__title {
            font-size: 21px;   

            @include mq(xl) {
                font-size: 24px;
                line-height: 44px;
            }
        }

        &__description {
            margin-top: 17px;
            margin-top: 40px;
            font-size: 14px;    

            @include mq(xl) {
                margin-top: 40px;
                font-size: 16px;    
            }
        }

        &__image {
            width: 70%;
            margin: auto;

            @include mq(md) {
                width: 48%;  
            }

            & img {
                width: 90%;
                margin: auto;
            }
        }
    
    }

    &__sub-title2 {
        margin-top: 88px;
        font-size: 28px;
        text-align: center;
    }

    &__box2 {
        margin-top: 52px;
        margin-bottom: 111px;
        display: flex;
        flex-direction: column-reverse;

        @include mq(md) {
            flex-direction: row;
            margin-bottom: 142px;
        }

        &__texts {
            width: 100%;
            text-align: center;
            margin-top: 30px;

            @include mq(md) {
                width: 48%;
                margin-top: 0px;
            }

            @include mq(xl) {
                margin-top: 7px;
                padding-left: 87px;    
            }
        }

        &__title {
            font-size: 21px;
            line-height: 40px;    

            @include mq(xl) {
                font-size: 24px;
                line-height: 44px;    
            }
        }

        &__description {
            margin-top: 17px;
            font-size: 14px;    

            @include mq(xl){
                margin-top: 45px;
                font-size: 16px;    
            }
        }

        &__image {
            width: 70%;
            margin: auto;

            @include mq(md) {
                width: 48%;
            }
        }
    
        &__sub-title2 {
            margin-top: 88px;
            font-size: 28px;
            text-align: center;
        }
    }

    &__box3 {
        margin-top: 56px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @include mq(md) {
            flex-direction: row;
        }

        &__texts {
            width: 100%;
            text-align: center;
            margin-top: 30px;

            @include mq(md) {
                width: 48%;
                margin-top: -2px;
                // padding-right: 83px;    
            }
        }

        &__title {
            font-size: 21px;
            line-height: 40px;
            margin-top: 22px;

            @include mq(xl) {
                font-size: 24px;
                line-height: 46px;
                margin-top: 22px;
            }
        }

        &__description {
            margin-top: 17px;
            line-height: 25px;
            font-size: 14px;    

            @include mq(xl){
                margin-top: 27px;
                line-height: 28px;
                font-size: 16px;    
            }
        }

        &__image {
            width: 100%;
            margin: auto;

            & img {
                margin: auto;
            }

            @include mq(md) {
                width: 48%;
            }
    }
    
        &__sub-title2 {
            margin-top: 88px;
            font-size: 28px;
            text-align: center;
        }
    }

}

.price {
    padding-top: 150px;

    &__bg {
        background: #EEFBFB 0% 0% no-repeat padding-box;
    }

    &__inner {
        width: 90%;
        @extend .content-width;
        text-align: center;
        padding-top: 58px;
    }

    &__title {
        font-size: 32px;
        padding-bottom: 10px;
        text-align: center;

        span {
            display: block;
            font-size: 16px;
            color: #3BA6C9;
            padding-top: 8px;
            padding-right: 9px;
        }
    }

    &__sub-title {
        margin-top: 49px;
        font-size: 28px;
        text-align: center;
    }

    &__table {
        border-collapse:  collapse;
        margin: 54px auto;
        background-color: $cWhite;
        box-shadow: 0px 3px 6px #00000029;
        height: 410px;
        width: 90%;

        @include mq(md) {
            width: 700px;
        }

        @include mq(xl) {
            width: 926px;
        }

        td {
            border: 1px solid #E5E5E5;
            font-size: 16px; 

            &.td-item-left {
                @media screen and (max-width: 770px) {
                    display: block;
                    width: 100%;
                    height: 50%;
                    line-height: 47px;
              }
                width: 295px;
            }

            &.td-item-right {
                @media screen and (max-width: 770px) {
                    display: block;
                    width: 100%;
                    height: 50%;
                    text-align: center;
                    line-height: 47px;
              }
                text-align: left;
                padding-left: 30px;    
            }

        }
    }

    &__note {
        font-size: 16px;
        text-align: center;
        margin-top: -11px;
        padding-bottom: 62px;
    }


}

.ac {

    &__inner {
        width: 90%;
        margin: auto;
    }

    &__title {
        font-size: 32px;
        margin-top: 55px;
        padding-bottom: 32px;
        text-align: center;

        span {
            display: block;
            font-size: 16px;
            color: #3BA6C9;
            padding-top: 11px;
            padding-right: 9px;
        }
    }

  
    &__single {
        width: 100%;
        margin: 0 auto;
        border: 1px solid #E5E5E5;  

      @include mq(lg) {
        max-width: 907px;
      }  
  
      &__item {
        font-size: 14px;
        border-bottom: 1px solid #E5E5E5;
  
        // この記述はitemの数によって変更する（一番下の枠線の重なりを削除する用）
        &:nth-child(3) {
          border-bottom: none;
        }
      }
  
      &__title {
        @media screen and (max-width:450px) {
            font-size: 13px;
            line-height: 29px;
        }

        position: relative;
        text-align: center;
        cursor: pointer;
        line-height: 58px;
        height: 58px;
        border-bottom: 1px solid #E5E5E5;
  
        &::after {
            display: none;

            @include mq(md) {
                display: block;
                content: "";
                position: absolute;
                top: 19px;
                right: 25px;
                width: 0;
                height: 0;
                border: 8px solid transparent;
                border-top-color: #666;
                transition: transform .2s ease;      
            }
        } 
      }
  
      &__content {
        // 左右だけにpaddingを持たせて上下方向だけのアニメーションにする
        padding: 0 30px;
        transition: all .4s ease;
        height: 0;
        overflow: hidden;
        line-height: normal;
        opacity: 0;
      }
  
  }  

  .is-open {
    // &.ac__single__item {
    //   background-color: red;
    // }
  
    & .ac__single__title::after {
        transform: rotate(180deg);
    }
  
    & .ac__single__content {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 35px;
        opacity: 1;
        height: auto;
        background-color: #E5E5E5;
    }
  }
}

.blog {
    background: #EEFBFB 0% 0% no-repeat padding-box;
    margin-top: 86px;

    &__inner {
        width: 90%;
        padding-top: 55px;
        padding-bottom: 126px;
        max-width: 1298px;
        margin: 0 auto;
    }

    &__title {
        font-size: 32px;
        padding-bottom: 32px;
        text-align: center;

        span {
            display: block;
            font-size: 16px;
            color: #3BA6C9;
            padding-top: 11px;
            padding-right: 9px;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 50px;
        width: 92%;
        margin: auto;

        @include mq(md) {
            gap: 0px;
            flex-direction: row;
            width: 100%;
        }
    }

    &__item {
        height: 387px;
        background-color: $cWhite;
        box-shadow: 0px 3px 6px #00000029;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mq(md) {
            flex-basis: 32%;
        }

        @include mq(lg) {
            flex-basis: 31%;  
        }
    }

    &__img1 {
        background-image: url(../images/austin.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 260px;
    }

    &__img2 {
        background-image: url(../images/dylan.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 260px;
    }

    &__img3 {
        background-image: url(../images/brooke.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 260px;
    }



    &__text {
        padding-left: 18px;
        padding-right: 30px;
        line-height: 28px;
        font-size: 18px;
    }


    &__text1 {
        margin-top: -38px;
        padding-left: 18px;
        padding-right: 30px;
        line-height: 28px;
        font-size: 18px;
    }


    &__date{
        text-align: right;
        margin-bottom: 10px;
        padding-right: 32px;
    }

    &__date1 {
        text-align: right;
        padding-right: 32px;
    }


    &__date2 {
        text-align: right;
        padding-right: 32px;
    }

    &__date3 {
        text-align: right;
        margin-top: 28px;
        padding-right: 32px;
    }




}

.works {

    &__inner {
        margin: 0 auto;
        max-width: 1500px;
    }
    &__title {
        font-size: 32px;
        padding-top: 55px;
        padding-bottom: 32px;
        margin-bottom: 68px;
        text-align: center;

        span {
            display: block;
            font-size: 16px;
            color: #3BA6C9;
            padding-top: 11px;
            padding-right: 9px;
        }
    }
}

.swiper-slide {
    width: 322px;
    height: 407px;
    border: 1px solid #DDDDDD;
    border-radius: 8px;    
    overflow: hidden;

    figure img {
        height: 210px;
        display: block;
        object-fit: cover;
        width: 100%;
    }

    &__text-box {
        padding: 18px;

        &__headding {
            color: #333333;
            line-height: 1.5;
            margin-bottom: 30px;
        }

        &__desc {
            font-size: 14px;
            line-height: 1.5;
        }
    }
}

.contact {
    padding-top: 90px;

    &__bg {
        padding-bottom: 70px;
        background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
    }

    &__title {
        font-size: 32px;
        padding-top: 63px;
        padding-bottom: 32px;
        text-align: center;
        color: $cWhite;

        span {
            display: block;
            font-size: 16px;
            padding-top: 11px;
            padding-right: 9px;
        }
    }

    &__subtitle {
        font-size: 16px;
        color: $cWhite;
        text-align: center;
        margin-bottom: 44px;
    }

    &__form {
        width: 90%;
        height: 689px;
        margin: 0 auto;
        background-color: $cWhite;
        box-shadow: 0px 3px 6px #00000029;

        @include mq(md) {
            width: 700px;
        }

        &__item1 {
            height: 109;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 35px;

            @include mq(md) {
                padding-left: 62px;
                padding-right: 62px;    
            }

            &__lavel {

                & span {
                    margin-left: 24px;
                    background: #0C449B;
                    border-radius: 10px;
                    width: 60px;
                    height: 30px;
                    line-height: 30px;
                    display: inline-block;
                    text-align: center;
                    cursor: pointer;
                    text-decoration: none;
                    color: $cWhite;
                    font-size: 14px;
                }
            }

            &__input{
                margin-top: 36px;

                & input {
                    width: 100%;
                    border: none;
                    background: #EEFBFB 0% 0% no-repeat padding-box;
                    border-radius: 3px;
                    background-color: #EEFBFB;
                    height: 43px;
                    
                    @include mq(md) {
                        width: 499px; 
                    }
                }
            }

        }

        &__item2 {
            height: 109;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 25px;

            @include mq(md) {
                padding-left: 62px;
                padding-right: 62px;    
            }

            &__lavel {

                & span {
                    margin-left: 24px;
                    background: #0C449B;
                    border-radius: 10px;
                    width: 60px;
                    height: 30px;
                    line-height: 30px;
                    display: inline-block;
                    text-align: center;
                    cursor: pointer;
                    text-decoration: none;
                    color: $cWhite;
                    font-size: 14px;
                }
            }

            &__input{
                margin-top: 36px;

                & input {
                    width: 100%;
                    border: none;
                    background: #EEFBFB 0% 0% no-repeat padding-box;
                    border-radius: 3px;
                    background-color: #EEFBFB;
                    height: 43px;

                    @include mq(md) {
                        width: 499px; 
                    }
                }
            }
        }

        &__item3 {
            height: 109;
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 25px;

            @include mq(md) {
                padding-left: 62px;
                padding-right: 62px;    
            }

            &__lavel {
                @media screen and (max-width:350px) {
                    font-size: 14px;
                }

                & span {
                    @media screen and (max-width:350px) {
                        font-size: 14px;
                    }

                    margin-left: 24px;
                    background: #0C449B;
                    border-radius: 10px;
                    width: 60px;
                    height: 30px;
                    line-height: 30px;
                    display: inline-block;
                    text-align: center;
                    cursor: pointer;
                    text-decoration: none;
                    color: $cWhite;
                    font-size: 14px;
                }
            }

            &__input{
                margin-top: 36px;

                & input {
                    border: none;
                    background: #EEFBFB 0% 0% no-repeat padding-box;
                    border-radius: 3px;
                    background-color: #EEFBFB;
                    width: 100%;
                    height: 179px;
                }
            }
        }

        &__check-box {
            margin-top: 27px;
            display: flex;
            justify-content: center;
            align-items: center;

            & input {
                width: 20px;
                height: 20px;
                margin-bottom: 4px;
                margin-right: 10px  
            }
        }

        &__submit {
            margin: 30px auto 0;

            & input {
                color: white;
                background-color: transparent;
                border: none;
            }

        }

    }
}

.footer {
    background-color: #F8F8F8;

    &__title {
        font-size: 24px;
        text-align: center;
        padding-top: 43px;
    }

    &__text{
        @media screen and (max-width:370px) {
            gap: 12px;
            font-size: 12px;
        }

        margin-top: 21px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        gap: 29px; 

        & span {
            display: block;

            &:nth-child(1){
                padding-left: 22px;
            }
        }
    }

    &__copyright {
        margin-top: 52px;
        padding-bottom: 49px;
        font-size: 14px;
        text-align: center;
    }


    

}