@charset "UTF-8";
.page-top-btn {
  position: sticky;
  width: 46px;
  height: 46px;
  bottom: 0px;
  right: 12px;
  background-color: #333333;
  margin-left: auto;
  cursor: pointer;
}
.page-top-btn:hover {
  opacity: 0.9;
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 767px) {
  .page-top-btn {
    width: 60px;
    height: 60px;
    right: 25px;
  }
}
.page-top-btn::after {
  content: "";
  position: absolute;
  top: 42%;
  right: 25%;
  display: block;
  width: 21.2px;
  height: 21.2px;
  border: 2px solid;
  border-color: #FFFFFF #FFFFFF transparent transparent;
  transform: rotate(-45deg);
}
@media screen and (min-width: 767px) {
  .page-top-btn::after {
    width: 28.2px;
    height: 28.2px;
    top: 40%;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #FFFFFF;
  opacity: 0.9;
}
.mobile-menu__btn {
  position: absolute;
  z-index: 200;
  right: 12px;
  display: block;
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .mobile-menu__btn {
    display: none;
  }
}
.mobile-menu__btn > span {
  background-color: #B71B26;
  width: 31px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  transition: transform 0.7s;
}
.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}
.mobile-menu__content {
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.6s;
  /* 表示されるときのアニメーション */
}
.mobile-menu__item {
  margin-top: 48px;
  list-style: none;
  display: block;
  padding: 0 40px;
  transition: transform 0.3s, opacity 0.2s;
  opacity: 0;
}
.mobile-menu__link {
  display: block;
  color: #333333;
  text-decoration: none !important;
  font-family: "Noto Serif JP";
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}
.mobile-menu__link:hover {
  opacity: 0.7;
}

.menu-open .mobile-menu__content {
  height: 100vh;
  margin: 80px auto 0;
}
.menu-open .mobile-menu__item {
  opacity: 1;
}
.menu-open .mobile-menu__item:nth-child(1) {
  transition-delay: 0.14s;
}
.menu-open .mobile-menu__item:nth-child(2) {
  transition-delay: 0.28s;
}
.menu-open .mobile-menu__item:nth-child(3) {
  transition-delay: 0.42s;
}
.menu-open .mobile-menu__item:nth-child(4) {
  transition-delay: 0.56s;
}
.menu-open .mobile-menu__item:nth-child(5) {
  transition-delay: 0.7s;
}
.menu-open .mobile-menu__btn > span {
  background-color: #B71B26;
}
.menu-open .mobile-menu__btn > span:nth-child(1) {
  transition-delay: 70ms;
  transform: translateY(11px) rotate(135deg);
}
.menu-open .mobile-menu__btn > span:nth-child(2) {
  transition-delay: 0s;
  transform: translateX(-18px) scaleX(0);
}
.menu-open .mobile-menu__btn > span:nth-child(3) {
  transition-delay: 140ms;
  transform: translateY(-11px) rotate(-135deg);
}
.menu-open.body {
  overflow: hidden;
}

.sub-text-before {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 4px;
  background-color: #223E69;
  transform: translateY(-50%);
}

.sub-text-after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 4px;
  background-color: #223E69;
  transform: translateY(-50%);
}

body {
  font-family: "Noto Sans JP", "Noto Serif JP", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}
@media screen and (min-width: 1080px) {
  .mb-lg {
    margin-bottom: 150px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}
@media screen and (min-width: 1080px) {
  .pb-lg {
    padding-bottom: 150px !important;
  }
}

.content-width {
  margin: 0 auto;
  max-width: 1140px;
}

.flex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 940px) {
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.purple {
  color: #904669;
}

#main-content {
  position: relative;
  z-index: 0;
}

.font-sm, .sub-title {
  font-size: 14px;
}
@media screen and (min-width: 1080px) {
  .font-sm, .sub-title {
    font-size: 16px;
  }
}

.font-md {
  font-size: 17px;
}
@media screen and (min-width: 1080px) {
  .font-md {
    font-size: 19px;
  }
}

.font-lr {
  font-size: 17px;
}
@media screen and (min-width: 1080px) {
  .font-lr {
    font-size: 23px;
  }
}

.font-lg, .main-title {
  font-size: 25px;
}
@media screen and (min-width: 1080px) {
  .font-lg, .main-title {
    font-size: 36px;
  }
}

.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
}

.sub-title {
  color: #535353;
}

#container {
  transition: transform 0.5s, box-shadow 0.5s;
}

body {
  letter-spacing: 0.1em;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 51.71px;
  padding: 0 12px;
}
@media screen and (min-width: 767px) {
  .header__inner {
    height: 80px;
    padding: 0 24px;
  }
}
.header__logo {
  width: 240px;
  height: 20px;
}
.header__logo:hover {
  opacity: 0.7;
}
@media screen and (min-width: 767px) {
  .header__logo {
    width: 210px;
    height: 17.5px;
  }
}
@media screen and (min-width: 940px) {
  .header__logo {
    width: 300px;
    height: 25px;
  }
}
@media screen and (min-width: 1080px) {
  .header__logo {
    width: 400px;
    height: 32.85px;
  }
}
.header__nav ul {
  display: none;
}
@media screen and (min-width: 767px) {
  .header__nav ul {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    gap: 17px;
    color: #333333;
    padding-left: 0;
    font-size: 14px;
  }
}
@media screen and (min-width: 940px) {
  .header__nav ul {
    gap: 20px;
  }
}
@media screen and (min-width: 1080px) {
  .header__nav ul {
    gap: 38px;
    font-size: 16px;
  }
}
.header__nav ul li a {
  font-family: "Noto Serif JP";
  font-weight: 500;
  text-decoration: none;
  color: #333333;
  line-height: 80px;
}
.header__nav ul li a:hover {
  opacity: 0.7;
}

.hero-img picture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
@media screen and (min-width: 767px) {
  .hero-img picture {
    height: auto;
  }
}

.concept {
  padding-top: 42px;
}
@media screen and (min-width: 767px) {
  .concept {
    padding-top: 148.15px;
  }
}
.concept__inner {
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 1080px) {
  .concept__inner {
    max-width: 1019px;
    width: 100%;
  }
}
.concept__title {
  width: 258px;
  margin: auto;
}
.concept__title__main {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  font-family: "Noto Serif JP";
}
@media screen and (min-width: 767px) {
  .concept__title__main {
    font-size: 42px;
    letter-spacing: 0.1em;
  }
}
.concept__title__sub {
  margin-top: -1px;
  font-size: 12px;
  font-weight: normal;
  font-family: "Noto Serif JP";
  text-align: center;
  color: #223E69;
  position: relative;
}
@media screen and (min-width: 767px) {
  .concept__title__sub {
    margin-top: 2px;
    font-size: 16px;
  }
}
.concept__title__sub::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 27px;
  background-color: #223E69;
  transform: translateY(-50%);
}
@media screen and (min-width: 767px) {
  .concept__title__sub::before {
    left: 18px;
  }
}
.concept__title__sub::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 27px;
  background-color: #223E69;
  transform: translateY(-50%);
}
@media screen and (min-width: 767px) {
  .concept__title__sub::after {
    right: 18px;
  }
}
.concept__main-text {
  text-align: center;
  font-size: 20px;
  margin-top: 22px;
  font-weight: 500;
  line-height: 20px;
}
@media screen and (min-width: 767px) {
  .concept__main-text {
    margin-top: 48px;
    font-size: 28px;
    letter-spacing: 0.11em;
  }
}
.concept__sub-text {
  margin-top: 14px;
  line-height: 28px;
  font-size: 14px;
  letter-spacing: 0.11em;
}
@media screen and (min-width: 767px) {
  .concept__sub-text {
    margin-top: 30px;
    font-size: 16px;
    letter-spacing: 0.1em;
    line-height: 31px;
  }
}

.service {
  padding-top: 72px;
  padding-bottom: 71px;
}
@media screen and (min-width: 767px) {
  .service {
    padding-bottom: 159px;
    padding-top: 148px;
  }
}
.service__inner {
  width: 94%;
  margin: 0 auto;
}
@media screen and (min-width: 1080px) {
  .service__inner {
    max-width: 1019px;
    width: 100%;
  }
}
.service__title {
  width: 258px;
  margin: auto;
}
.service__title__main {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  font-family: "Noto Serif JP";
}
@media screen and (min-width: 767px) {
  .service__title__main {
    font-size: 42px;
    letter-spacing: 0.1em;
  }
}
.service__title__sub {
  font-size: 12px;
  margin-top: -1px;
  font-weight: normal;
  font-family: "Noto Serif JP";
  text-align: center;
  color: #223E69;
  position: relative;
}
@media screen and (min-width: 767px) {
  .service__title__sub {
    margin-top: 4px;
    font-size: 16px;
  }
}
.service__title__sub::before {
  content: "";
  display: inline-block;
  width: 60px;
  left: 34px;
  height: 1px;
  position: absolute;
  top: 50%;
  background-color: #223E69;
  transform: translateY(-50%);
}
@media screen and (min-width: 767px) {
  .service__title__sub::before {
    left: 26px;
  }
}
.service__title__sub::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 34px;
  background-color: #223E69;
  transform: translateY(-50%);
}
@media screen and (min-width: 767px) {
  .service__title__sub::after {
    right: 26px;
  }
}
.service__content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 767px) {
  .service__content {
    margin-top: 43px;
    flex-direction: row;
  }
}
.service__content__item {
  width: 100%;
}
.service__content__item:nth-child(2), .service__content__item:nth-child(3) {
  margin-top: 41px;
}
@media screen and (min-width: 767px) {
  .service__content__item {
    width: 29.4%;
  }
  .service__content__item:nth-child(2), .service__content__item:nth-child(3) {
    margin-top: 0;
  }
}
.service__content__item__img {
  width: 100%;
  height: auto;
}
.service__content__item__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.service__content__item__title {
  font-size: 20px;
  margin-top: 8px;
  font-family: "Noto Serif JP";
  text-align: center;
  line-height: 20px;
}
@media screen and (min-width: 767px) {
  .service__content__item__title {
    text-align: center;
    font-size: 24px;
    margin-top: 16px;
  }
}
.service__content__item__description {
  font-size: 14px;
  font-family: "Noto Serif JP";
  margin-top: 9px;
  letter-spacing: 0.14em;
  line-height: 21px;
}
@media screen and (min-width: 767px) {
  .service__content__item__description {
    font-size: 16px;
    margin-top: 22px;
    letter-spacing: 0.1em;
    line-height: 24px;
  }
}
.service__content__item__btn {
  font-size: 14px;
  font-family: "Noto Serif JP";
  margin-top: 6px;
  width: 100%;
  text-align: right;
  padding-right: 3px;
}
@media screen and (min-width: 767px) {
  .service__content__item__btn {
    margin-top: 15px;
    font-size: 16px;
  }
}
.service__content__item__btn a {
  text-decoration: none;
  color: #333333;
  display: block;
  width: 52px;
  padding-right: 12px;
  margin-left: auto;
  position: relative;
}
.service__content__item__btn a:hover {
  opacity: 0.7;
}
.service__content__item__btn a:hover .service__content__item__btn a::after {
  opacity: 0.7;
}
.service__content__item__btn a:after {
  top: 59%;
  content: "";
  position: absolute;
  right: 0px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 4.875px solid black;
  border-top: 4.875px solid transparent;
  border-bottom: 4.875px solid transparent;
}
@media screen and (min-width: 767px) {
  .service__content__item__btn1 {
    margin-top: 16px !important;
  }
}

.flow {
  background-color: rgba(34, 62, 105, 0.05);
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 767px) {
  .flow {
    padding-top: 51px;
    padding-bottom: 48px;
  }
}
.flow__inner {
  width: 100%;
  padding: 0 37px 0 37px;
}
@media screen and (min-width: 767px) {
  .flow__inner {
    padding: 0;
    width: 95%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1080px) {
  .flow__inner {
    max-width: 943px;
    width: 100%;
  }
}
.flow__title {
  width: 250px;
  margin: auto;
}
.flow__title__main {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  font-family: "Noto Serif JP";
  line-height: 28px;
}
@media screen and (min-width: 767px) {
  .flow__title__main {
    font-size: 42px;
    letter-spacing: 0.15em;
  }
}
.flow__title__sub {
  font-size: 12px;
  margin-top: 3px;
  font-weight: normal;
  font-family: "Noto Serif JP";
  text-align: center;
  color: #B71B26;
  position: relative;
}
@media screen and (min-width: 767px) {
  .flow__title__sub {
    margin-top: 20px;
    font-size: 16px;
  }
}
.flow__title__sub::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 24px;
  background-color: #B71B26;
  transform: translateY(-50%);
}
@media screen and (min-width: 940px) {
  .flow__title__sub::before {
    left: 14px;
  }
}
.flow__title__sub::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 24px;
  background-color: #B71B26;
  transform: translateY(-50%);
}
@media screen and (min-width: 940px) {
  .flow__title__sub::after {
    right: 14px;
  }
}
.flow__content {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  align-items: center;
  gap: 8px;
}
@media screen and (min-width: 767px) {
  .flow__content {
    flex-direction: row;
    margin-top: 44px;
    gap: 0;
    padding: 0 21px 0 0;
  }
}
.flow__content__item {
  width: 100%;
  height: 32px;
  line-height: 32px;
  border-radius: 60px;
  background-color: #333333;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
}
@media screen and (min-width: 767px) {
  .flow__content__item {
    width: 60px;
    height: 280px;
    font-size: 28px;
    writing-mode: vertical-rl;
    line-height: 2.1428;
    margin-right: 20px;
  }
  .flow__content__item:last-child {
    margin-right: 0;
  }
}
.flow__content span {
  border-left: 16px solid transparent;
  border-top: 16px solid #B71B26;
  border-right: 16px solid transparent;
}
.flow__content span:nth-of-type(1) {
  opacity: 0.6;
}
.flow__content span:nth-of-type(2) {
  opacity: 0.7;
}
.flow__content span:nth-of-type(3) {
  opacity: 0.8;
}
.flow__content span:nth-of-type(4) {
  opacity: 0.9;
}
@media screen and (min-width: 767px) {
  .flow__content span {
    width: 0;
    height: 0;
    border-left: 30px solid #B71B26;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }
}

.qa {
  padding: 72px 0 103px 0;
}
@media screen and (min-width: 767px) {
  .qa {
    padding: 147px 0 185px 0;
  }
}
.qa__inner {
  width: 95%;
  margin: 0 auto;
}
@media screen and (min-width: 767px) {
  .qa__inner {
    width: 90%;
  }
}
@media screen and (min-width: 1080px) {
  .qa__inner {
    max-width: 1019px;
    width: 100%;
  }
}
.qa__title {
  width: 250px;
  margin: auto;
}
.qa__title__main {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  font-family: "Noto Serif JP";
}
@media screen and (min-width: 767px) {
  .qa__title__main {
    font-size: 42px;
    letter-spacing: 0.1em;
  }
}
.qa__title__sub {
  font-size: 12px;
  margin-top: -3px;
  font-weight: normal;
  font-family: "Noto Serif JP";
  text-align: center;
  color: #223E69;
  position: relative;
}
@media screen and (min-width: 767px) {
  .qa__title__sub {
    margin-top: 1px;
    font-size: 16px;
  }
}
.qa__title__sub::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 9px;
  background-color: #223E69;
  transform: translateY(-50%);
}
@media screen and (min-width: 940px) {
  .qa__title__sub::before {
    width: 60px;
    left: -3px;
  }
}
.qa__title__sub::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 9px;
  background-color: #223E69;
  transform: translateY(-50%);
}
@media screen and (min-width: 940px) {
  .qa__title__sub::after {
    width: 60px;
    right: -3px;
  }
}
.qa__content {
  margin-top: 26px;
}
@media screen and (min-width: 767px) {
  .qa__content {
    margin-top: 42px;
  }
}
.qa__item {
  padding-left: 44px;
}
@media screen and (min-width: 767px) {
  .qa__item {
    padding-left: 60px;
  }
}
.qa__item:last-child {
  margin-top: 29px;
}
@media screen and (min-width: 767px) {
  .qa__item:last-child {
    margin-top: 48px;
  }
}
.qa__item__question {
  font-size: 16px;
  height: auto;
  line-height: 36px;
  position: relative;
  line-height: 24px;
}
@media screen and (min-width: 767px) {
  .qa__item__question {
    line-height: 52px;
    font-size: 20px;
    letter-spacing: 0.1em;
  }
}
.qa__item__question::before {
  content: "Q.";
  position: absolute;
  background-color: #333333;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  font-family: "Noto Serif JP";
  width: 36px;
  height: 36px;
  font-size: 20px;
  border-radius: 36px;
  top: -5px;
  left: -41px;
  padding-left: 5px;
  line-height: 32px;
}
@media screen and (min-width: 767px) {
  .qa__item__question::before {
    left: -60px;
    font-size: 34px;
    width: 52px;
    height: 52px;
    border-radius: 52px;
    line-height: 52px;
    top: 0px;
  }
}
.qa__item__answer {
  font-size: 16px;
  height: auto;
  margin-top: 28px;
  position: relative;
  line-height: 24px;
  letter-spacing: 0.13em;
}
@media screen and (min-width: 767px) {
  .qa__item__answer {
    line-height: 52px;
    font-size: 20px;
    margin-top: 19px;
    letter-spacing: 0.1em;
  }
}
.qa__item__answer::before {
  content: "A.";
  position: absolute;
  background-color: #B71B26;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  font-family: "Noto Serif JP";
  width: 36px;
  height: 36px;
  font-size: 20px;
  border-radius: 36px;
  left: -41px;
  top: -6px;
  padding-left: 5px;
  line-height: 32px;
}
@media screen and (min-width: 767px) {
  .qa__item__answer::before {
    left: -60px;
    font-size: 34px;
    width: 52px;
    height: 52px;
    border-radius: 52px;
    line-height: 52px;
    top: -1px;
  }
}
.qa__item__answer2 {
  margin-top: 23px !important;
}
@media screen and (min-width: 767px) {
  .qa__item__answer2 {
    margin-top: 27px !important;
    line-height: 29px !important;
  }
}
@media screen and (min-width: 767px) {
  .qa__item__answer2::before {
    top: -13px !important;
  }
}

.contact {
  margin-top: -23px;
  background-color: #DEE2E9;
  padding: 11px 0 0 0;
  margin-bottom: 79px;
}
@media screen and (min-width: 767px) {
  .contact {
    padding: 37px 0 48px;
    margin-bottom: 161px;
  }
}
.contact__inner {
  width: 94%;
  margin: 0 auto;
}
@media screen and (min-width: 1080px) {
  .contact__inner {
    max-width: 1019px;
    width: 100%;
  }
}
.contact__title {
  width: 250px;
  margin: auto;
}
@media screen and (min-width: 767px) {
  .contact__title {
    margin: 0 auto 46px;
    width: 256px;
  }
}
.contact__title__main {
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  font-family: "Noto Serif JP";
}
@media screen and (min-width: 767px) {
  .contact__title__main {
    font-size: 42px;
    letter-spacing: 0.1em;
  }
}
.contact__title__sub {
  font-size: 12px;
  margin-top: -1px;
  font-weight: normal;
  font-family: "Noto Serif JP";
  text-align: center;
  color: #333333;
  position: relative;
}
@media screen and (min-width: 767px) {
  .contact__title__sub {
    margin-top: 1px;
    font-size: 16px;
  }
}
.contact__title__sub::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 17px;
  background-color: #333333;
  transform: translateY(-50%);
}
@media screen and (min-width: 767px) {
  .contact__title__sub::before {
    width: 60px;
    left: 6px;
  }
}
.contact__title__sub::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 17px;
  background-color: #333333;
  transform: translateY(-50%);
}
@media screen and (min-width: 767px) {
  .contact__title__sub::after {
    width: 60px;
    right: 6px;
  }
}
@media screen and (min-width: 767px) {
  .contact__form {
    background-color: #EFF1F4;
  }
}
.contact__form input, .contact__form textarea {
  border: none;
}
.contact__form__content {
  padding: 0;
}
@media screen and (min-width: 767px) {
  .contact__form__content {
    padding: 32px 24px 0px 0px;
  }
}
.contact__form__item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
@media screen and (min-width: 767px) {
  .contact__form__item {
    gap: 12px;
    margin-bottom: 23px;
    margin-top: 0;
    flex-direction: row;
  }
}
.contact__form__item:nth-child(6) {
  margin-top: -3px;
}
@media screen and (min-width: 767px) {
  .contact__form__item:nth-child(1) {
    margin-bottom: 6px !important;
  }
}
@media screen and (min-width: 767px) {
  .contact__form__item:nth-child(5) {
    margin-bottom: 29px !important;
  }
}
.contact__form__item__label {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
}
@media screen and (min-width: 767px) {
  .contact__form__item__label {
    width: 33%;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    line-height: 52px;
  }
}
.contact__form__item__label .must {
  font-size: 10px;
  margin-left: 4px;
  background-color: #B71B26;
  color: #FFFFFF;
  text-align: center;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 18px;
  line-height: 18px;
  border-radius: 8px;
}
@media screen and (min-width: 767px) {
  .contact__form__item__label .must {
    margin-left: 8px;
    width: 58px;
    height: 24px;
    line-height: 24px;
    font-size: 11px;
    font-size: 16px;
    top: -2px;
  }
}
@media screen and (min-width: 767px) {
  .contact__form__item__label .email-confirm {
    margin-left: 9px !important;
  }
}
@media screen and (min-width: 767px) {
  .contact__form__item__label.content-relative {
    position: relative;
    height: 1px;
  }
}
@media screen and (min-width: 767px) {
  .contact__form__item__label .content-label {
    width: 176px;
    position: absolute;
    top: -115px;
    left: 52%;
    transform: translateX(-50%);
  }
}
.contact__form__item__input {
  width: 100%;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin-top: 11px;
}
@media screen and (min-width: 767px) {
  .contact__form__item__input {
    margin-top: 0;
    width: 69%;
    font-size: 20px;
    line-height: 20px;
    justify-content: flex-start;
  }
}
.contact__form__item__input__radio {
  position: relative;
  display: block;
  margin: 5px 0;
  padding-left: 20px;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .contact__form__item__input__radio {
    padding-left: 31px;
  }
}
.contact__form__item__input__radio input {
  display: none;
}
.contact__form__item__input__radio input:checked + .contact__form__item__input__radio__appear:after {
  opacity: 1;
}
.contact__form__item__input__radio__appear {
  position: absolute;
  left: 3px;
  height: 16px;
  width: 16px;
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  background-color: #FFFFFF;
}
@media screen and (min-width: 767px) {
  .contact__form__item__input__radio__appear {
    height: 24px;
    width: 24px;
  }
}
.contact__form__item__input__radio__appear::after {
  content: "";
  position: absolute;
  background: #4682b4;
  border-radius: 50%;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  opacity: 0;
}
.contact__form__item__input__radio2 {
  padding-left: 20px !important;
}
@media screen and (min-width: 767px) {
  .contact__form__item__input__radio2 {
    padding-left: 26px !important;
  }
}
.contact__form__item__input__input1 {
  width: 100%;
  height: 30px;
}
@media screen and (min-width: 767px) {
  .contact__form__item__input__input1 {
    width: 50%;
    height: 52px;
  }
}
.contact__form__item__input__input2 {
  margin-top: -3px;
  width: 125px;
  margin-left: 18px;
  height: 30px;
}
@media screen and (min-width: 767px) {
  .contact__form__item__input__input2 {
    width: 33%;
    margin-left: 24px;
    height: 52px;
    margin-top: 0;
  }
}
.contact__form__item__input__for-pseudo-element {
  position: relative;
  width: 100%;
}
.contact__form__item__input__for-pseudo-element::before {
  content: "〒";
  font-size: 14px;
  position: absolute;
  top: 40%;
  left: 0px;
  transform: translateY(-50%);
}
@media screen and (min-width: 767px) {
  .contact__form__item__input__for-pseudo-element::before {
    font-size: 20px;
    top: 52%;
    left: 0px;
  }
}
.contact__form__item__input__input3 {
  width: 100%;
  height: 30px;
}
@media screen and (min-width: 767px) {
  .contact__form__item__input__input3 {
    height: 52px;
  }
}
.contact__form__item__input__input4 {
  width: 100%;
  height: 120px;
}
@media screen and (min-width: 767px) {
  .contact__form__item__input__input4 {
    height: 208px;
  }
}
.contact__form__item__input2 {
  margin-top: 6px !important;
}
.contact__form__submit {
  margin: 24px auto 0;
  padding-bottom: 16px;
  position: relative;
}
@media screen and (min-width: 767px) {
  .contact__form__submit {
    margin: 51px auto 0;
    padding-bottom: 47px;
  }
}
.contact__form__submit__for-pseudo-element {
  width: 200px;
  height: 48px;
  position: relative;
  margin: auto;
}
@media screen and (min-width: 767px) {
  .contact__form__submit__for-pseudo-element {
    width: 300px;
    height: 68px;
  }
}
.contact__form__submit__for-pseudo-element::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid #FFFFFF;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  right: 17px;
}
@media screen and (min-width: 767px) {
  .contact__form__submit__for-pseudo-element::after {
    right: 34px;
    border-left: 9px solid #FFFFFF;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
  }
}
.contact__form__submit__for-pseudo-element input {
  color: white;
  background-color: #333333;
  display: block;
  border: none;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 200px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 8px 0 0;
  font-family: "Noto Serif JP";
  letter-spacing: 0.1em;
}
@media screen and (min-width: 767px) {
  .contact__form__submit__for-pseudo-element input {
    font-size: 20px;
    width: 300px;
    height: 68px;
    line-height: 68px;
    padding: 0 17px 0 0;
    margin-left: 11px;
  }
}
.contact__form__submit__for-pseudo-element input:hover {
  opacity: 0.7;
}

.footer {
  background-color: #333333;
  height: 45px;
}
@media screen and (min-width: 767px) {
  .footer {
    height: 62px;
  }
}
.footer__content {
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  font-family: "Noto Serif JP";
  letter-spacing: 0.12em;
  line-height: 44px;
  padding-right: 6px;
}
@media screen and (min-width: 767px) {
  .footer__content {
    line-height: 62px;
    font-size: 14px;
  }
}
.footer__content span {
  font-size: 15px;
  margin-right: 2px;
}/*# sourceMappingURL=style.css.map */