@use "../globals" as *;
//@use "../globals/index" as *;
@use "../parts/common" as *;

body {
  font-size: 16px;
}

#container {
  // モバイルメニューをゆっくり開く用
  transition: transform 0.5s, box-shadow 0.5s;
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none
}

.link__btn {
  border: 0.5px solid #707070;
  background: $cWhite;
  width: 198px;
  height: 42px;
  line-height: 42px;
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: $cBlack;
  font-size: 16px;
  transition: all 0.4s;
  margin: auto;

  &:hover {
    color: $cWhite;
    background-color: $cBlack;
  }
}

.fv {
  position: relative;

  &__copy {
    position: absolute;
    writing-mode: vertical-rl;
    font-size: 34px;
    font-weight: bold;
    color: white;
    z-index: 1;
    letter-spacing: 0.35em;
    line-height: 2;
    top: 24%;
    right: 23%;
    height: 68%;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: transparent;
  color: $cWhite;
  z-index: 100;
  transition: all 0.5s;

  &__inner {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__left-items {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 37px;

    @include mq(lg) {
      gap: 120px;
    }
  }

  &__logo {

    & a {
      display: inline-block;
      width: 200px;
      height: 40px;
      background-image: url(../images/top-header-logo@2x.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }

    }
  }

  &__nav {
    display: none;

    @include mq(md) {
      display: block;
    }
  }

  &__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
  }

  &__nav ul li a {
    text-decoration: none;
    font-weight: bold;
    z-index: 100;
    color: $cWhite;

    &:hover {
      opacity: 0.7;
    }

  }

  &__btn {
    display: none;

    @include mq(md) {
      display: block;
      position: relative;
      padding-left: 20px;
      text-align: center;
      font-weight: bold;
      display: inline-block;
      width: 170px;
      height: 54px;
      line-height: 54px;
      background-color: #978F10;
      text-decoration: none;
      color: $cWhite;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }


      &::after {
        content: '';
        position: absolute;
        top: 48%;
        left: 21%;
        transform: translateY(-50%);
        background-image: url(../images/calender.png);
        width: 22px;
        height: 22px;
      }

    }

  }

  &.triggered {
    background-color: $cWhite;
    color: $cBlack;

    & .header__nav ul li a {
      color: $cBlack;
    }

    & .header__logo {

      & a {
        background-image: url(../images/top-header-logo_black@2x.png);
      }
    }

    & .mobile-menu__btn>span {
      background-color: black;
    }
  }
}

.common__btn {
  border: 0.5px solid #707070;
  background: $cWhite;
  width: 198px;
  height: 42px;
  line-height: 42px;
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: $cBlack;
  font-size: 16px;
  transition: all 0.4s;

  &:hover {
    color: $cWhite;
    background-color: $cBlack;
  }
}

.hero {
  width: 100%;
  height: 428px;
  background-image: url(../images/bg@2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;

  @include mq(md) {
    height: 681px;
    padding-top: 64px;
  }

  &__inner {

    width: 90%;
    margin: 0 auto;
    @extend .content-width;
    display: block;

    @include mq(md) {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      gap: 40px;
    }

    @include mq(xl) {
      gap: 118px;
    }
  }

  &__main-text {
    font-size: 28px;

    @include mq (md) {
      line-height: 2.2;
      writing-mode: vertical-rl;
      letter-spacing: 0.48em;
      font-size: 28px;

      & span {
        padding-top: 85px;
      }
    }
  }

  &__sub-text {
    font-size: 16px;
    margin-top: 15px;

    @include mq(md) {
      line-height: 2.37;
      writing-mode: vertical-rl;
      letter-spacing: 0.48em;
      margin-top: 85px;
    }

    &__br {
      display: none;

      @include mq(md) {
        display: inline;
      }
    }

    &__number {
      text-orientation: upright;
    }
  }

  &__last-text {
    font-size: 22px;
    margin-top: 40px;

    @include mq(md) {
      line-height: 2.37;
      writing-mode: vertical-rl;
      letter-spacing: 0.48em;
      margin-top: 408px;
    }
  }

}

.feature {
  padding-top: 106px;

  &__inner {
    max-width: 1920px;
    margin: auto;
  }

  &__item {
    display: block;
    position: relative;
    color: $cWhite;
    text-shadow: 0.2rem 0.2rem 0.3rem #000;
    font-weight: bold;
    padding: 35px 50px 10px 50px;
    margin-bottom: 50px;

    @include mq(md) {
      position: static;
      display: flex;
      justify-content: center;
      gap: 84px;
      color: $cBlack;
      text-shadow: none;
      font-weight: 400;
      padding: 0;
      margin-bottom: 122px;


      &:nth-child(2) {
        flex-direction: row-reverse;
      }
    }

    &__img1 {
      background-image: url(../images/oheya-top.jpg);
      @extend .bg-img;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      filter: brightness(0.6);

      @include mq(md) {
        position: static;
        width: 54.6875%;
        height: auto;
        filter: brightness(1);
      }
    }

    &__img2 {
      background-image: url(../images/menu-top.jpg);
      @extend .bg-img;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      filter: brightness(0.6);

      @include mq(md) {
        position: static;
        width: 54.6875%;
        height: auto;
        filter: brightness(1);
      }
    }

    &__img3 {
      background-image: url(../images/onsen-top.jpg);
      @extend .bg-img;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      filter: brightness(0.6);

      @include mq(md) {
        position: static;
        width: 54.6875%;
        height: auto;
        filter: brightness(1);
      }
    }


    &__texts {
      position: relative;
      z-index: 10;

      &__main {
        margin-top: 10px;
        font-size: 28px;
        line-height: 1.9;

        @include mq(xl) {
          line-height: 2.2;
          font-size: 36px;
        }
      }

      &__sub {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.9;

        @include mq(xl) {
          line-height: 2.2;
          font-size: 16px;
        }

        &__br {
          display: none;

          @include mq(md) {
            display: inline;
          }
        }
      }

      &__btn {
        margin: 50px auto 25px;
        text-shadow: none;
        font-weight: 400;

        &.link__btn {
          @media screen and (max-width:750px) {
            border: none;
          }
        }
      }
    }
  }
}

.plan {
  background-image: url(../images/bg02.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 144px 0;

  &__inner {
    margin: 0 auto;
    width: 90%;

    @include mq(xl) {
      max-width: $contentMaxWidth;
    }
  }

  &__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 63px;

    &::before {
      content: '';
      background-image: url(../images/logo02@2x.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto 20px;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mq(md) {
      flex-wrap: wrap;
    }


    &__item {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      margin-top: 30px;

      @include mq (md) {
        flex-basis: 32%;
        margin-top: 0;
      }

      @include mq(xl) {
        flex-basis: 30%;
      }

      &__img {
        width: 100%;
        height: 209px;

        @include mq(md) {
          height: 185px;
        }

        & img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }

      &__main-text {
        font-size: 20px;
        margin-top: 28px;
      }

      &__sub-text {
        font-size: 16px;
        margin-top: 25px;
      }
    }
  }
}

.news {
  padding: 60px 0;

  &__inner {
    margin: 0 auto;
    width: 90%;

    @include mq(xl) {
      max-width: $contentMaxWidth;
    }
  }

  &__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 63px;

    &::before {
      content: '';
      background-image: url(../images/logo02@2x.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto 20px;
    }
  }
}

.access {
  background-image: url(../images/bg@2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 110px;

  &__inner {
    margin: 0 auto;
    width: 90%;

    @include mq(xl) {
      max-width: $contentMaxWidth;
    }
  }

  &__title {
    font-size: 36px;
    text-align: center;
    margin-bottom: 63px;

    &::before {
      content: '';
      background-image: url(../images/logo02@2x.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto 20px;
    }
  }


  &__content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;

    @include mq(md) {
      flex-direction: row;
      justify-content: flex-start;
      gap: 83px;
    }

    &__img {
      flex-basis: 70%;
      // width: 70%;
      height: 370px;

      // @include mq(md) {
      //   flex-basis: 65%;
      // }

      @include mq(xl) {
        flex-basis: 55%;
      }


      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__text {
      flex-basis: 30%;

      &__title {
        font-weight: bold;
        margin-top: 15px;

        &:nth-child(1) {
          margin-top: 20px;

          @include mq(md) {
            margin-top: 4px;
          }
        }
      }

      &__detail {
        line-height: 2;
        margin-top: 15px;
      }
    }
  }

  &__map {

    & iframe {
      display: block;
      margin: 69px auto 0;
      width: 100%;
      aspect-ratio: 16/9;

      @include mq(md) {
        width: 80%;
      }

      @include mq(xl) {
        width: 792px;
        height: 592px;
      }

    }
  }

}

.footer {
  background-image: url(../images/bg3@2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding-top: 66px;
    padding-left: 0;

    & li {
      list-style: none;

      & a {
        cursor: pointer;
        line-height: 2.89;
        writing-mode: vertical-rl;
        letter-spacing: 0.48em;
        font-size: 18px;
        list-style: none;
        text-decoration: none;
        color: $cBlack;

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  &__logo {
    font-size: 36px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 35px;

    @include mq(xl) {
      margin-top: 96px;
      margin-bottom: 72px;
    }

    &::before {
      content: '';
      background-image: url(../images/logo02@2x.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 40px;
      height: 40px;
      display: block;
      margin: 0 auto 20px;
    }
  }


  &__address {
    text-align: center;

    & span {
      margin-left: 21px;
    }
  }

  &__tel {
    text-align: center;

    & span {
      margin-left: 20px;
    }
  }

  &__copyright {
    margin-top: 35px;
    background-color: $cBlack;
    color: $cWhite;
    text-align: center;
    height: 60px;
    font-size: 12px;
    line-height: 60px;

    @include mq(xl) {
      margin-top: 61px;
    }
  }

}

.header-sub {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: $cWhite;
  color: $cBlack;
  z-index: 100;
  transition: all 0.5s;

  &__inner {
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__left-items {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 37px;

    @include mq(lg) {
      gap: 120px;
    }
  }

  &__logo {

    & a {
      display: inline-block;
      width: 200px;
      height: 40px;
      background-image: url(../images/top-header-logo_black@2x.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__nav {
    display: none;

    @include mq(md) {
      display: block;
    }
  }

  &__nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
  }

  &__nav ul li a {
    text-decoration: none;
    font-weight: bold;
    z-index: 100;
    color: $cBlack;

    &:hover {
      opacity: 0.7;
    }

  }

  &__btn {
    display: none;

    @include mq(md) {
      display: block;
      position: relative;
      padding-left: 20px;
      text-align: center;
      font-weight: bold;
      display: inline-block;
      width: 170px;
      height: 54px;
      line-height: 54px;
      background-color: #978F10;
      text-decoration: none;
      color: $cWhite;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }

      &::after {
        content: '';
        position: absolute;
        top: 48%;
        left: 21%;
        transform: translateY(-50%);
        background-image: url(../images/calender.png);
        width: 22px;
        height: 22px;
      }
    }
  }

  & .mobile-menu__btn>span {
    background-color: black;
  }
}

.hero-text {
  &__text {
    text-align: center;
    margin: 98px auto 78px;
    line-height: 2;
  }
}

.service {

  &__inner {
    margin: 0 auto;
    width: 90%;

    @include mq(xl) {
      max-width: $contentMaxWidth;
    }
  }

  &__item {
    padding-bottom: 110px;
    display: flex;
    flex-direction: column;

    @include mq(md) {
      flex-direction: row;
    }

    &:nth-child(even) {

      @include mq(md) {
        flex-direction: row-reverse;
      }

      & .service__item__text {
        padding: 0px 0 49px 45px;

        @include mq(md) {
          padding: 60px 0px 138px 35px;
        }

        @include mq(xl) {
          padding: 60px 0 138px 70px;
        }


        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: url(../images/bg@2x.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          z-index: -1;

          @include mq(md) {
            right: -80px;
          }
        }
      }


    }

    &__img {
      width: 100%;
      height: 275px;

      @include mq(md) {
        flex-basis: 45%;
        height: 300px;
      }

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }

    &__text {
      position: relative;
      margin-top: 0;
      padding: 0px 0 49px 45px;

      @include mq(md) {
        flex-basis: 55%;
        margin-top: 57px;
        padding: 0 10px 85px 25px;
      }

      @include mq(xl) {
        padding: 60px 0 138px 80px;
      }

      &__main {
        font-size: 24px;
        margin-top: 50px;

        @include mq(md) {
          margin-top: 60px;
        }
      }

      &__sub {
        font-size: 16px;
        margin-top: 52px;
      }

      &__note {
        font-size: 14px;
        margin-top: 52px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../images/bg@2x.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;

        @include mq(md) {
          left: -80px;
        }
      }

    }
  }

}

.hero-img {
  width: 100%;
  height: 260px;
  position: relative;
  margin-top: 80px;

  @include mq(md) {
    height: 350px;
  }

  @include mq(xl) {
    height: 500px;
  }

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: $cWhite;
    font-size: 34px;
    z-index: 90;
  }
}

.breadcrumb {
  margin-top: 36px;
  list-style: none;
  font-size: 16px;

  &__inner {
    margin: 0 auto;
    width: 90%;

    @include mq(xl) {
      max-width: $contentMaxWidth;
    }
  }

  &__list {
    padding-left: 0;
  }

  &__item {
    display: inline;
    list-style: none;
    font-weight: bold;

    &::after {
      content: '>';
      padding: 0 0.2em;
      color: #555;
    }

    &:last-child::after {
      content: '';
    }

    & a {
      text-decoration: none;
      color: $cBlack;
      font-weight: 400;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

  }
}