@use "../globals" as *;


$cMenuClose: $cBlack;
$cMenuOpen: $cBlack;

.mobile-menu {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: $cWhite;
  opacity: 0.9;

  &__btn {
    position: absolute;
    z-index: 200;
    right: 12px;
    display: block;
    background-color: unset;
    border: none;
    outline: none !important;
    cursor: pointer;

    @include mq(sm) {
      display: none;
    }

    &>span {
      background-color: $cRed;
      width: 31px;
      height: 2px;
      display: block;
      margin-bottom: 9px;
      transition: transform 0.7s;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  &__content {
    height: 0;
    // perspective: 2000px;
    // transform-style: preserve-3d;
    padding: 0;
    margin: 0;
    // mobile-menuの高さが0の時は表示させないようにする
    overflow: hidden;
    transition: all .6s;
    /* 表示されるときのアニメーション */
  }

  &__item {
    margin-top: 48px;
    list-style: none;
    display: block;
    // transform: translate3d(0, 0, -1000px);
    padding: 0 40px;
    transition: transform 0.3s, opacity 0.2s;
    opacity: 0;
  }

  &__link {
    display: block;
    color: $cBlack;
    text-decoration: none !important;
    font-family: 'Noto Serif JP';
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;

    &:hover {
      opacity: 0.7;
    }

  }
}

.menu-open {

  & .mobile-menu {

    &__content {
      height: 100vh;
      margin: 80px auto 0;
    }

    &__item {
      // transform: none;
      opacity: 1;

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          transition-delay: $i * 0.14s;
        }
      }
    }

    &__btn {
      &>span {
        background-color: $cRed;

        &:nth-child(1) {
          transition-delay: 70ms;
          transform: translateY(11px) rotate(135deg);
        }

        &:nth-child(2) {
          transition-delay: 0s;
          transform: translateX(-18px) scaleX(0);
        }

        &:nth-child(3) {
          transition-delay: 140ms;
          transform: translateY(-11px) rotate(-135deg);
        }
      }
    }
  }

  // 背景固定用
  &.body {
    overflow: hidden;
  }

}