@use "../globals" as *;

// 通常時はページの下端に固定、フッター表示時はフッターの上に表示の場合は以下のクラスを有効化（要素はフッター以外の要素を囲むように配置）
// .sticky-area {
//   position: relative;
// }


.page-top-btn {
  position: sticky;
  width: 46px;
  height: 46px;
  bottom: 0px;
  right: 12px;
  background-color: $cBlack;
  margin-left: auto;
  cursor: pointer;

  &:hover {
    opacity: .9;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
  }

  @include mq(sm) {
    width: 60px;
    height: 60px;
    right: 25px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 42%;
    right: 25%;
    display: block;
    width: 21.2px;
    height: 21.2px;
    border: 2px solid;
    border-color: $cWhite $cWhite transparent transparent;
    transform: rotate(-45deg);

    @include mq(sm) {
      width: 28.2px;
      height: 28.2px;
      top: 40%;
    }
  }
}