@charset "utf-8";

body {
  font-family: 'Sawarabi Mincho', serif;
  font-size: 18px;
  color: #121212;
}

.ffJosefin {
  font-family: 'Josefin Sans', sans-serif;
}

.innerWrap {
  /* border: 4px solid lightblue; */
  /* ダミー */
  width: 1240px;
  margin: 0 auto;
  padding: 80px 20px 0;
}

main h2 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 80px;
  letter-spacing: 0.05em;
  /* 60px*0.05=3px */
}

header {
  background:
    url(../images/hero.jpg) no-repeat right center/cover;
}

header .innerWrap {
  height: 720px;
  position: relative;
  /* .scrollの基準要素 */
}

header h1 {
  padding-top: 120px;
}

header .scroll {
  position: absolute;
  /* 絶対配置 */
  left: 0;
  /* 左から0pxの位置 */
  bottom: 0;
  /* 下から0pxの位置 */
  /* background: #f00; */
  width: 100%;
  /* 基準要素.innerWrapの幅いっぱい */
  text-align: center;
  font-size: 16px;
}

header .scroll img {
  margin-top: 8px;
}

header nav {
  position: fixed;
  /* 固定配置 */
  top: 0;
  /* 上から0pxの位置 */
  left: 0;
  /* 左から0pxの位置 */
  /* background: #f00; */
  width: 100%;
  /* html要素の幅いっぱい */
  z-index: 100;
}

header nav ul {
  display: flex;
  width: 1240px;
  margin: 0 auto;
  /* background: yellow; */
  padding: 10px 20px;
  justify-content: space-around;
}

header nav ul li a:hover {
  text-decoration: underline;
}

.msgSec {
  background-color: #fbfaf7;
}

.msgSec p {
  text-align: center;
  line-height: 1.75;
  margin-bottom: 40px;
}

/* 半角スペースを空けると階層が一つ下がる */
.msgSec p.illust {
  margin-top: 80px;
  margin-bottom: 0;
  position: relative;
}

.msgSec p.illust::before {
  content: url(../images/deco_left.png);
  position: absolute;
  left: 320px;
  bottom: -30px;
}

.msgSec p.illust::after {
  content: url(../images/deco_right.png);
  position: absolute;
  right: 320px;
  bottom: -30px;
}

.dateSec {
  background-color: #fff;
  padding-bottom: 120px;
}

.dateSec .layoutWrap {
  display: flex;
}

.dateSec .layoutWrap>p {
  flex-basis: 735px;
}

.dateSec .layoutWrap>div {
  flex-basis: 465px;
  padding-top: 100px;
}

.dateSec .dateDetailSec {
  font-size: 72px;
  margin: 0 0 170px -100px;
  background: #fff;
  padding: 40px 64px;
  line-height: 1.2;
}

.word1 {
  font-size: 50px;
}

.word2 {
  font-size: 40px;
}

.word3 {
  font-size: 60px;
}

.accessSec {
  margin-left: 48px;
}

.accessSec h3 {
  color: #cfafa3;
  font-size: 55px;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
}

.accessSec p {
  line-height: 1.6;
}

.formSec {
  background-color: #efe8d9;
  padding-bottom: 60px;

}

form {
  width: 600px;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
select,
textarea {
  botder: 1px solid #ccc;
  background: #fff;
  width: 100%;
  padding: 4px 8px;
  margin-top: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  vertical-align: baseline;
}

.attendRadio {
  text-align: center;
  margin-bottom: 40px;
}

.attendRadio label {
  margin: 0 20px;
  font-size: 24px;
}

.allergyCheck label {
  margin-right: 24px;
}

select {
  background: #fff url(../images/arrow.png) no-repeat 98% 50%/17px 10px;
  /* 要素の左から９８％の位置、上から５０％の位置、横幅１７ｐｘ、高さ10px */
}

textarea {
  height: 148px;
  margin-bottom: 30px;
}

form>p {
  line-height: 1.4;
  margin-bottom: 20px;
}

.submitBtn {
  text-align: center;
}

input[type="submit"] {
  background: #121212;
  color: #fff;
  padding: 18px 80px;
}