.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 300px;
}
.mobile-menu .logo {
  padding: 0 40px;
  font-size: 38px;
}
.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}
@media screen and (min-width: 770px) {
  .mobile-menu__btn {
    display: none;
  }
}
.mobile-menu__btn > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  transition: transform 0.7s;
}
.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}
.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 200;
}
.mobile-menu__main {
  padding: 0;
  perspective: 2000px;
  transform-style: preserve-3d;
}
.mobile-menu__item {
  list-style: none;
  display: block;
  transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  transition: transform 0.3s, opacity 0.2s;
  opacity: 0;
}
.mobile-menu__link {
  display: block;
  margin-top: 30px;
  color: black;
  text-decoration: none !important;
}
.mobile-menu__link:hover {
  opacity: 0.7;
}

.menu-open #container {
  transform: translate(-300px, 60px);
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}
.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}
.menu-open .mobile-menu__item {
  transform: none;
  opacity: 1;
}
.menu-open .mobile-menu__item:nth-child(1) {
  transition-delay: 0.13s;
}
.menu-open .mobile-menu__item:nth-child(2) {
  transition-delay: 0.26s;
}
.menu-open .mobile-menu__item:nth-child(3) {
  transition-delay: 0.39s;
}
.menu-open .mobile-menu__item:nth-child(4) {
  transition-delay: 0.52s;
}
.menu-open .mobile-menu__item:nth-child(5) {
  transition-delay: 0.65s;
}
.menu-open .mobile-menu__btn > span {
  background-color: black;
}
.menu-open .mobile-menu__btn > span:nth-child(1) {
  transition-delay: 70ms;
  transform: translateY(11px) rotate(135deg);
}
.menu-open .mobile-menu__btn > span:nth-child(2) {
  transition-delay: 0s;
  transform: translateX(-18px) scaleX(0);
}
.menu-open .mobile-menu__btn > span:nth-child(3) {
  transition-delay: 140ms;
  transform: translateY(-11px) rotate(-135deg);
}
.menu-open.body {
  overflow: hidden;
}

body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .mb-lg {
    margin-bottom: 150px !important;
  }
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}
@media screen and (min-width: 960px) {
  .pb-lg {
    padding-bottom: 150px !important;
  }
}

.content-width, .hero__inner, .price__inner {
  margin: 0 auto;
  max-width: 1024px;
}

.flex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 770px) {
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.purple {
  color: #904669;
}

#main-content {
  position: relative;
  z-index: 0;
}

.font-sm {
  font-size: 14px;
}
@media screen and (min-width: 960px) {
  .font-sm {
    font-size: 16px;
  }
}

.font-md {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-md {
    font-size: 19px;
  }
}

.font-lr {
  font-size: 17px;
}
@media screen and (min-width: 960px) {
  .font-lr {
    font-size: 23px;
  }
}

.font-lg, .main-title {
  font-size: 25px;
}
@media screen and (min-width: 960px) {
  .font-lg, .main-title {
    font-size: 36px;
  }
}

.main-title {
  font-weight: 500;
  margin-bottom: 0;
  display: block;
}

.sub-title, .header__lists__item > a {
  font-weight: 600;
  color: #333333;
  text-decoration: none;
}

#global-container {
  font-weight: 600;
}

#container {
  position: relative;
  z-index: 10;
  background: white;
  transition: transform 0.5s, box-shadow 0.5s;
  color: #333333;
}

#main-content {
  position: relative;
  z-index: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 94px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(37, 32, 32, 0.1607843137);
  z-index: 100;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
}
.header__logo {
  display: flex;
  align-items: center;
  padding-left: 18px;
  cursor: pointer;
}
.header__logo__img {
  width: 43px;
  height: 43px;
  margin-right: 23px;
}
@media screen and (min-width: 960px) {
  .header__logo__img {
    width: 47px;
    height: 47px;
    margin-right: 16px;
  }
}
.header__logo__img:hover {
  opacity: 0.7;
}
.header__logo__title {
  font-size: 21px;
  cursor: pointer;
}
@media screen and (max-width: 350px) {
  .header__logo__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 960px) {
  .header__logo__title {
    font-size: 24px;
  }
}
.header__logo__title:hover {
  opacity: 0.7;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 770px) {
  .header__nav {
    display: block;
  }
}
.header__lists {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
.header__lists__item {
  padding: 3px 0 0 0;
  margin-right: 30px;
}
@media screen and (min-width: 960px) {
  .header__lists__item {
    margin-right: 46px;
  }
}
.header__lists__item > a {
  font-size: 16px;
}
.header__lists__item > a:hover {
  opacity: 0.7;
}
.header__btn {
  display: none;
}
@media screen and (min-width: 770px) {
  .header__btn {
    display: block;
    padding: 3px 16px 0 0;
  }
}
@media screen and (min-width: 960px) {
  .header__btn {
    padding: 3px 2px 0 0;
  }
}

.contact_btn {
  background: transparent linear-gradient(90deg, #FA41CC 0%, #6020B0 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
  width: 155px;
  height: 37px;
  line-height: 37px;
  display: block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 14px;
  position: relative;
}
.contact_btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.contact_btn:hover::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.mobile-menu__title {
  text-align: center;
  padding-bottom: 12px;
}
.mobile-menu__title__btn {
  padding-top: 25px;
}
.mobile-menu__contact-btn {
  padding-top: 27px;
}
.mobile-menu__contact-btn__inner {
  margin: 0 auto;
}

.hero {
  padding-top: 170px;
  position: relative;
  background-image: url(../images/circle1.png);
  background-position: top -30px right -90px;
  background-size: 97%;
  background-repeat: no-repeat;
}
@media screen and (min-width: 770px) {
  .hero {
    padding-top: 251px;
    background-size: 81%;
  }
}
@media screen and (min-width: 960px) {
  .hero {
    background-size: 57%;
  }
}
@media screen and (min-width: 1600px) {
  .hero {
    background-position: top -130px right 0px;
    background-size: 48%;
  }
}
.hero__inner {
  text-align: left;
  padding-left: 31px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 770px) {
  .hero__inner {
    flex-direction: row;
  }
}
.hero__title {
  text-align: center;
}
@media screen and (min-width: 770px) {
  .hero__title {
    font-size: 32px;
    margin-bottom: 38px;
    letter-spacing: 0px;
    color: #333333;
    padding-top: 4px;
  }
}
.hero__description {
  text-align: center;
  margin-top: 28px;
}
@media screen and (min-width: 770px) {
  .hero__description {
    font-size: 16px;
    margin-bottom: 40px;
    letter-spacing: 0px;
    color: #333333;
  }
}
.hero__btn a {
  margin: 0 auto;
  margin-top: 30px;
}
.hero__image {
  margin: 30px auto 0;
  width: 50%;
  height: auto;
}
@media screen and (min-width: 960px) {
  .hero__image {
    width: auto;
  }
}

.features {
  padding-top: 163px;
}
@media screen and (min-width: 770px) {
  .features {
    margin-top: 0px;
    padding-top: 232px;
  }
}
.features__inner {
  max-width: 1109px;
  margin: 0 auto;
  padding-left: 13px;
  width: 90%;
}
.features__title {
  font-size: 32px;
  padding-bottom: 10px;
  text-align: center;
}
.features__title span {
  display: block;
  font-size: 16px;
  color: #3BA6C9;
  padding-top: 8px;
  padding-right: 9px;
}
.features__sub-title {
  margin-top: 49px;
  font-size: 28px;
  text-align: center;
}
.features__box {
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 770px) {
  .features__box {
    flex-direction: row;
    justify-content: space-between;
  }
}
.features__box__texts {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
@media screen and (min-width: 770px) {
  .features__box__texts {
    margin-top: 33px;
    width: 48%;
  }
}
@media screen and (min-width: 960px) {
  .features__box__texts {
    margin-top: 48px;
  }
}
.features__box__title {
  font-size: 21px;
}
@media screen and (min-width: 1280px) {
  .features__box__title {
    font-size: 24px;
    line-height: 44px;
  }
}
.features__box__description {
  margin-top: 17px;
  margin-top: 40px;
  font-size: 14px;
}
@media screen and (min-width: 1280px) {
  .features__box__description {
    margin-top: 40px;
    font-size: 16px;
  }
}
.features__box__image {
  width: 70%;
  margin: auto;
}
@media screen and (min-width: 770px) {
  .features__box__image {
    width: 48%;
  }
}
.features__box__image img {
  width: 90%;
  margin: auto;
}
.features__sub-title2 {
  margin-top: 88px;
  font-size: 28px;
  text-align: center;
}
.features__box2 {
  margin-top: 52px;
  margin-bottom: 111px;
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 770px) {
  .features__box2 {
    flex-direction: row;
    margin-bottom: 142px;
  }
}
.features__box2__texts {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
@media screen and (min-width: 770px) {
  .features__box2__texts {
    width: 48%;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .features__box2__texts {
    margin-top: 7px;
    padding-left: 87px;
  }
}
.features__box2__title {
  font-size: 21px;
  line-height: 40px;
}
@media screen and (min-width: 1280px) {
  .features__box2__title {
    font-size: 24px;
    line-height: 44px;
  }
}
.features__box2__description {
  margin-top: 17px;
  font-size: 14px;
}
@media screen and (min-width: 1280px) {
  .features__box2__description {
    margin-top: 45px;
    font-size: 16px;
  }
}
.features__box2__image {
  width: 70%;
  margin: auto;
}
@media screen and (min-width: 770px) {
  .features__box2__image {
    width: 48%;
  }
}
.features__box2__sub-title2 {
  margin-top: 88px;
  font-size: 28px;
  text-align: center;
}
.features__box3 {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 770px) {
  .features__box3 {
    flex-direction: row;
  }
}
.features__box3__texts {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
@media screen and (min-width: 770px) {
  .features__box3__texts {
    width: 48%;
    margin-top: -2px;
  }
}
.features__box3__title {
  font-size: 21px;
  line-height: 40px;
  margin-top: 22px;
}
@media screen and (min-width: 1280px) {
  .features__box3__title {
    font-size: 24px;
    line-height: 46px;
    margin-top: 22px;
  }
}
.features__box3__description {
  margin-top: 17px;
  line-height: 25px;
  font-size: 14px;
}
@media screen and (min-width: 1280px) {
  .features__box3__description {
    margin-top: 27px;
    line-height: 28px;
    font-size: 16px;
  }
}
.features__box3__image {
  width: 100%;
  margin: auto;
}
.features__box3__image img {
  margin: auto;
}
@media screen and (min-width: 770px) {
  .features__box3__image {
    width: 48%;
  }
}
.features__box3__sub-title2 {
  margin-top: 88px;
  font-size: 28px;
  text-align: center;
}

.price {
  padding-top: 150px;
}
.price__bg {
  background: #EEFBFB 0% 0% no-repeat padding-box;
}
.price__inner {
  width: 90%;
  text-align: center;
  padding-top: 58px;
}
.price__title {
  font-size: 32px;
  padding-bottom: 10px;
  text-align: center;
}
.price__title span {
  display: block;
  font-size: 16px;
  color: #3BA6C9;
  padding-top: 8px;
  padding-right: 9px;
}
.price__sub-title {
  margin-top: 49px;
  font-size: 28px;
  text-align: center;
}
.price__table {
  border-collapse: collapse;
  margin: 54px auto;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  height: 410px;
  width: 90%;
}
@media screen and (min-width: 770px) {
  .price__table {
    width: 700px;
  }
}
@media screen and (min-width: 1280px) {
  .price__table {
    width: 926px;
  }
}
.price__table td {
  border: 1px solid #E5E5E5;
  font-size: 16px;
}
.price__table td.td-item-left {
  width: 295px;
}
@media screen and (max-width: 770px) {
  .price__table td.td-item-left {
    display: block;
    width: 100%;
    height: 50%;
    line-height: 47px;
  }
}
.price__table td.td-item-right {
  text-align: left;
  padding-left: 30px;
}
@media screen and (max-width: 770px) {
  .price__table td.td-item-right {
    display: block;
    width: 100%;
    height: 50%;
    text-align: center;
    line-height: 47px;
  }
}
.price__note {
  font-size: 16px;
  text-align: center;
  margin-top: -11px;
  padding-bottom: 62px;
}

.ac__inner {
  width: 90%;
  margin: auto;
}
.ac__title {
  font-size: 32px;
  margin-top: 55px;
  padding-bottom: 32px;
  text-align: center;
}
.ac__title span {
  display: block;
  font-size: 16px;
  color: #3BA6C9;
  padding-top: 11px;
  padding-right: 9px;
}
.ac__single {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #E5E5E5;
}
@media screen and (min-width: 960px) {
  .ac__single {
    max-width: 907px;
  }
}
.ac__single__item {
  font-size: 14px;
  border-bottom: 1px solid #E5E5E5;
}
.ac__single__item:nth-child(3) {
  border-bottom: none;
}
.ac__single__title {
  position: relative;
  text-align: center;
  cursor: pointer;
  line-height: 58px;
  height: 58px;
  border-bottom: 1px solid #E5E5E5;
}
@media screen and (max-width: 450px) {
  .ac__single__title {
    font-size: 13px;
    line-height: 29px;
  }
}
.ac__single__title::after {
  display: none;
}
@media screen and (min-width: 770px) {
  .ac__single__title::after {
    display: block;
    content: "";
    position: absolute;
    top: 19px;
    right: 25px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #666;
    transition: transform 0.2s ease;
  }
}
.ac__single__content {
  padding: 0 30px;
  transition: all 0.4s ease;
  height: 0;
  overflow: hidden;
  line-height: normal;
  opacity: 0;
}
.ac .is-open .ac__single__title::after {
  transform: rotate(180deg);
}
.ac .is-open .ac__single__content {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 35px;
  opacity: 1;
  height: auto;
  background-color: #E5E5E5;
}

.blog {
  background: #EEFBFB 0% 0% no-repeat padding-box;
  margin-top: 86px;
}
.blog__inner {
  width: 90%;
  padding-top: 55px;
  padding-bottom: 126px;
  max-width: 1298px;
  margin: 0 auto;
}
.blog__title {
  font-size: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.blog__title span {
  display: block;
  font-size: 16px;
  color: #3BA6C9;
  padding-top: 11px;
  padding-right: 9px;
}
.blog__box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
  width: 92%;
  margin: auto;
}
@media screen and (min-width: 770px) {
  .blog__box {
    gap: 0px;
    flex-direction: row;
    width: 100%;
  }
}
.blog__item {
  height: 387px;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 770px) {
  .blog__item {
    flex-basis: 32%;
  }
}
@media screen and (min-width: 960px) {
  .blog__item {
    flex-basis: 31%;
  }
}
.blog__img1 {
  background-image: url(../images/austin.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
}
.blog__img2 {
  background-image: url(../images/dylan.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
}
.blog__img3 {
  background-image: url(../images/brooke.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
}
.blog__text {
  padding-left: 18px;
  padding-right: 30px;
  line-height: 28px;
  font-size: 18px;
}
.blog__text1 {
  margin-top: -38px;
  padding-left: 18px;
  padding-right: 30px;
  line-height: 28px;
  font-size: 18px;
}
.blog__date {
  text-align: right;
  margin-bottom: 10px;
  padding-right: 32px;
}
.blog__date1 {
  text-align: right;
  padding-right: 32px;
}
.blog__date2 {
  text-align: right;
  padding-right: 32px;
}
.blog__date3 {
  text-align: right;
  margin-top: 28px;
  padding-right: 32px;
}

.works__inner {
  margin: 0 auto;
  max-width: 1500px;
}
.works__title {
  font-size: 32px;
  padding-top: 55px;
  padding-bottom: 32px;
  margin-bottom: 68px;
  text-align: center;
}
.works__title span {
  display: block;
  font-size: 16px;
  color: #3BA6C9;
  padding-top: 11px;
  padding-right: 9px;
}

.swiper-slide {
  width: 322px;
  height: 407px;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  overflow: hidden;
}
.swiper-slide figure img {
  height: 210px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.swiper-slide__text-box {
  padding: 18px;
}
.swiper-slide__text-box__headding {
  color: #333333;
  line-height: 1.5;
  margin-bottom: 30px;
}
.swiper-slide__text-box__desc {
  font-size: 14px;
  line-height: 1.5;
}

.contact {
  padding-top: 90px;
}
.contact__bg {
  padding-bottom: 70px;
  background: transparent linear-gradient(90deg, #05A5FA 0%, #63FBD7 100%, #67FFD6 100%) 0% 0% no-repeat padding-box;
}
.contact__title {
  font-size: 32px;
  padding-top: 63px;
  padding-bottom: 32px;
  text-align: center;
  color: white;
}
.contact__title span {
  display: block;
  font-size: 16px;
  padding-top: 11px;
  padding-right: 9px;
}
.contact__subtitle {
  font-size: 16px;
  color: white;
  text-align: center;
  margin-bottom: 44px;
}
.contact__form {
  width: 90%;
  height: 689px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
@media screen and (min-width: 770px) {
  .contact__form {
    width: 700px;
  }
}
.contact__form__item1 {
  height: 109;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 35px;
}
@media screen and (min-width: 770px) {
  .contact__form__item1 {
    padding-left: 62px;
    padding-right: 62px;
  }
}
.contact__form__item1__lavel span {
  margin-left: 24px;
  background: #0C449B;
  border-radius: 10px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.contact__form__item1__input {
  margin-top: 36px;
}
.contact__form__item1__input input {
  width: 100%;
  border: none;
  background: #EEFBFB 0% 0% no-repeat padding-box;
  border-radius: 3px;
  background-color: #EEFBFB;
  height: 43px;
}
@media screen and (min-width: 770px) {
  .contact__form__item1__input input {
    width: 499px;
  }
}
.contact__form__item2 {
  height: 109;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
}
@media screen and (min-width: 770px) {
  .contact__form__item2 {
    padding-left: 62px;
    padding-right: 62px;
  }
}
.contact__form__item2__lavel span {
  margin-left: 24px;
  background: #0C449B;
  border-radius: 10px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
.contact__form__item2__input {
  margin-top: 36px;
}
.contact__form__item2__input input {
  width: 100%;
  border: none;
  background: #EEFBFB 0% 0% no-repeat padding-box;
  border-radius: 3px;
  background-color: #EEFBFB;
  height: 43px;
}
@media screen and (min-width: 770px) {
  .contact__form__item2__input input {
    width: 499px;
  }
}
.contact__form__item3 {
  height: 109;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
}
@media screen and (min-width: 770px) {
  .contact__form__item3 {
    padding-left: 62px;
    padding-right: 62px;
  }
}
@media screen and (max-width: 350px) {
  .contact__form__item3__lavel {
    font-size: 14px;
  }
}
.contact__form__item3__lavel span {
  margin-left: 24px;
  background: #0C449B;
  border-radius: 10px;
  width: 60px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
@media screen and (max-width: 350px) {
  .contact__form__item3__lavel span {
    font-size: 14px;
  }
}
.contact__form__item3__input {
  margin-top: 36px;
}
.contact__form__item3__input input {
  border: none;
  background: #EEFBFB 0% 0% no-repeat padding-box;
  border-radius: 3px;
  background-color: #EEFBFB;
  width: 100%;
  height: 179px;
}
.contact__form__check-box {
  margin-top: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__form__check-box input {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
  margin-right: 10px;
}
.contact__form__submit {
  margin: 30px auto 0;
}
.contact__form__submit input {
  color: white;
  background-color: transparent;
  border: none;
}

.footer {
  background-color: #F8F8F8;
}
.footer__title {
  font-size: 24px;
  text-align: center;
  padding-top: 43px;
}
.footer__text {
  margin-top: 21px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  gap: 29px;
}
@media screen and (max-width: 370px) {
  .footer__text {
    gap: 12px;
    font-size: 12px;
  }
}
.footer__text span {
  display: block;
}
.footer__text span:nth-child(1) {
  padding-left: 22px;
}
.footer__copyright {
  margin-top: 52px;
  padding-bottom: 49px;
  font-size: 14px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */