$cWhite: #FFFFFF;
$cBlack: #333333;
$cSubTitle: #535353;
$cBgGray: #eaebe6;
$cWineRed: #904669;
$contentMaxWidth: 1140px;
$navHeight: 100px;
$cRed: #B71B26;
$cBlue: #223E69;
$bgBlue: rgba(34, 62, 105, 0.05);